.header-hero {
    background-color: #1f2937;
    padding: 0 120px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.hero-container {
    display: flex;
    padding: 84px 0;
}

.hero-text {
    flex: 1;
    padding-right: 12px;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
}

.twice {
    width: 500px;
    height: auto;
    flex: 1;
}